<div class="container">
  <div class="text-center">
    <a type="button" class="btn btn-primary btn-lg" href="mailto:1997to2012@gmail.com?subject=Ask%20me%20about%20your%20Question&body=My%20Name%3A%20%3Cyour%20name%3E%0D%0AMy%20Query%3A%20%3Cyour%20query%3E">Contact me</a>
  </div>
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="www.jovian.com" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="www.jovian.com/learn" class="nav-link px-2 text-muted">cources</a></li>
      <li class="nav-item"><a href="www.jovian.com/events" class="nav-link px-2 text-muted">Events</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted disabled">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted disabled">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 {{title}}, Inc</p>
  </footer>
</div>